<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap for CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
        <!-- Bootstrap for JavaScript Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
        ></script>
        <title><%=forumName%> - Welcome</title>
        <link rel="stylesheet" type="text/css" href="/public/main.css" />
    </head>
    <body>
        <h1>Welcome to <%=forumName%></h1>
        <p><a href="about">About <%=forumName%></a></p>
        <p><a href="viewposts">View Posts</a></p>
        <p><a href="users">List Users</a></p>
        <p><a href="topics">List Topics</a></p>
        <p><a href="addpost">Add a New Post</a></p>
        <p><a href="search">Search for Posts</a></p>
    </body>
</html>
